@model WordVision.ec.Web.Areas.Planificacion.Models.ProyectoITTViewModel

<link href="~/Pry/Areas/Planificacion/CreateorEdit.css" rel="stylesheet" />

<form id="create-form" enctype="multipart/form-data" action="#">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <input hidden="hidden" asp-for="Id" />
    <div class="row">
        <table border="0">
            <tr>
                <td width="20%">
                    @if (Model.Id != 0)
                    {
                        <div class="form-group">
                            <label asp-for="IdProgramaArea" class="control-label">Programa Área</label>
                            @Html.HiddenFor(m => m.IdProgramaArea)
                            @Html.TextBoxFor(m => m.ProgramaArea.Descripcion, new { @class = "form-control", @readonly = "true" })
                        </div>
                    }
                    else
                    {
                        <div class="form-group">
                            <label asp-for="IdProgramaArea" class="control-label">Programa Área</label>
                            @Html.DropDownList("IdProgramaArea", (IEnumerable<SelectListItem>)Model.ProgramaAreaList, htmlAttributes: new { @class = "form-control ", @style = "width:100%;" , @onchange="Changepanewup()"})
                            <span asp-validation-for="IdProgramaArea" class="text-danger"></span>
                        </div>
                    }

                </td>
                <td width="40%">
                    @if (Model.Id != 0)
                    {
                        <div class="form-group">
                            <label asp-for="IdProyectoTecnico" class="control-label">Proyecto Tecnico</label>
                            @Html.HiddenFor(m => m.IdProyectoTecnico)
                            @Html.TextBoxFor(m => m.NombreProyectoFase, new { @class = "form-control", @readonly = "true" })
                        </div>
                    }
                    else
                    {
                        <div class="form-group">
                            <label asp-for="IdProyectoTecnico" class="control-label">Proyecto Tècnico / Especial</label>
                            @Html.DropDownList("IdProyectoTecnico", (IEnumerable<SelectListItem>)Model.ProyectoTecnicoList, htmlAttributes: new { @class = "form-control ", @style = "width:100%;", @onchange="BuscarDatosAdicionalesPT();"  })

                            <span asp-validation-for="IdProyectoTecnico" class="text-danger"></span>
                        </div>
                    }

                </td>
                <td width="40%" style="background-color:#ffffff;">
                    <div class="form-group">
                        <label for="idtipopry" class="control-label">Fase Proyecto</label>
                        <input id="idtipopry" class="form-control" readonly style="color:red;" />
                    </div>

                </td>
            </tr>
        </table>
    </div>
    <div class="row">
        <table>
            <tr>
                <td>
                    <div class="form-group">
                        <label for="idproyectgoulname" class="control-label">Proyecto Goal</label>
                        <select id="idproyectgoulname" class="form-control" readonly style="width:100%"></select>
                    </div>
                </td>
                <td>
                    <div class="form-group">
                        <label for="idsupervisorname" class="control-label">Supervisor</label>
                        <select id="idsupervisorname" class="form-control" style="width:100%"></select>
                    </div>
                </td>
                <td>
                    <div class="form-group">
                        <label for="idresponsablename" class="control-label">Responsable</label>
                        <select id="idresponsablename" class="form-control" style="width:100%"></select>
                    </div>
                </td>
            </tr>
        </table>
    </div>
    <br />



    <div class="tabsPITT">
        <h3>Projecto ITT</h3>
        <section>
            <div class="form-group">
                <label for="loframecodeoutcome" class="control-label">Log Frame Code - Outcome</label>
                <select class="form-control" id="loframecodeoutcome" name="loframecodeoutcome" style="width:35%" onchange="Cargartablaspitt()">
                </select>
            </div>
            <div class="tabsInterno">
                <h3>Marco Resultado</h3>
                <section class="ex3">
                    <table id="tblindres" class="table table-striped table-bordered tablay display" width="100%" cellspacing="0"></table>
                </section>
                <h3>Marco Producto</h3>
                <section class="ex3">
                    <table id="tblprod" class="table table-striped table-bordered table-condensed tablazul display" width="100%" cellspacing="0"></table>
                </section>

                <h3>Marco Actividad</h3>
                <section class="ex3">
                    <table id="tblactrel" class="table table-striped table-bordered table-condensed display" width="100%" cellspacing="0"></table>
                </section>

            </div>
            <div class="form-group justify-content-between group-button-modal">
                <a id="btnguardarpitt" class="btn bg-success" onclick="    GuardarPitt();">
                    Guardar
                </a>
               @* <a id="btnguardarpitt" class="btn bg-info">
                    Editar
                </a>*@
                <button class="btn btn-default close-button" data-dismiss="modal">Cerrar</button>
            </div>
        </section>
        <h3>DIP</h3>
        <section class="ex3">      
                <table border="1" class="table" width="100%">
                    <tr>
                        <td colspan="2">
                            <div class="form-group">
                                <label for="idaniosfiscal" class="control-label">Año Fiscal</label>
                                <select class="form-control" id="idaniosfiscal" style="width:20%">
                                    <option value="">Seleccionar</option>
                                    <option value="10">2022</option>
                                    <option value="11">2023</option>
                                </select>
                                <span class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label for="loframecodeoutcomedip" class="control-label">Log Frame Code - Outcome</label>
                                <select class="form-control" id="loframecodeoutcomedip" style="width:20%">
                                    <option value="">Seleccionar</option>
                                    <option value="10">bb</option>
                                    <option value="11">cc</option>
                                </select>
                                <span class="text-danger"></span>
                            </div>

                        </td>
                    </tr>
                    <tr>
                        <td colspan="2"><hr /></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td style="background-color:antiquewhite">METAS TRIMESTRALES</td>
                    </tr>
                    <tr>
                        <td>
                            <table id="tblindresdip" class="table tablay" style="width:100%;">
                                <thead>
                                    <tr>
                                        <th>Codigo Log Frame-Resultado</th>
                                        <th>Summary</th>
                                        <th>Codigo Indicador</th>
                                        <th>Indicador</th>
                                        <th>Tipo</th>
                                        <th>Unidad Medida</th>
                                        <th>Actores / Participantes</th>
                                        <th>Frecuencia</th>
                                        <th>Vinculado</th>
                                        <th>Linea Base</th>
                                        <th>Meta AF 22</th>
                                    </tr>
                                </thead>

                            </table>
                        </td>
                        <td>

                            <table class="table tablay" style="width:100%;">
                                <thead>
                                    <tr>
                                        <td>Q1</td>
                                        <td>OCT</td>
                                        <td>NOV</td>
                                        <td>DIC</td>
                                        <td>Q2</td>
                                        <td>ENE</td>
                                        <td>FEB</td>
                                        <td>MAR</td>
                                        <td>Q3</td>
                                        <td>ABR</td>
                                        <td>MAY</td>
                                        <td>JUN</td>
                                        <td>Q4</td>
                                        <td>JUL</td>
                                        <td>AGO</td>
                                        <td>SEP</td>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td><input type="number" step="0.01" value="0.00" min="0.00" max="9999999.99" /></td>
                                        <td><input type="checkbox" /></td>
                                        <td><input type="checkbox" /></td>
                                        <td><input type="checkbox" /></td>
                                        <td><input type="number" step="0.01" value="0.00" min="0.00" max="9999999.99" /></td>
                                        <td><input type="checkbox" /></td>
                                        <td><input type="checkbox" /></td>
                                        <td><input type="checkbox" /></td>
                                        <td><input type="number" step="0.01" value="0.00" min="0.00" max="9999999.99" /></td>
                                        <td><input type="checkbox" /></td>
                                        <td><input type="checkbox" /></td>
                                        <td><input type="checkbox" /></td>
                                        <td><input type="number" step="0.01" value="0.00" min="0.00" max="9999999.99" /></td>
                                        <td><input type="checkbox" /></td>
                                        <td><input type="checkbox" /></td>
                                        <td><input type="checkbox" /></td>
                                    </tr>
                                </tbody>

                            </table>

                        </td>
                    </tr>
                    <tr>
                        <td colspan="2"><hr /></td>
                    </tr>

                    <tr>
                        <td></td>
                        <td style="background-color:deepskyblue">METAS TRIMESTRALES</td>
                    </tr>
                    <tr>
                        <td>
                            <table id="tblproddip" class="table table-striped display tablazul" style="width:100%;">
                                <thead>
                                    <tr>
                                        <th>Codigo Log Frame-Producto</th>
                                        <th>Summary</th>
                                        <th>Codigo Indicador</th>
                                        <th>Indicador</th>
                                        <th>Tipo</th>
                                        <th>Unidad Medida</th>
                                        <th>Actores / Participantes</th>
                                        <th>Frecuencia</th>
                                        <th>Vinculado</th>
                                        <th>Linea Base</th>
                                        <th>Meta AF 22</th>

                                    </tr>
                                </thead>

                            </table>
                        </td>
                        <td>
                            <table class="table tablay tablazul" style="width:100%;">
                                <thead>
                                    <tr>
                                        <td>Q1</td>
                                        <td>OCT</td>
                                        <td>NOV</td>
                                        <td>DIC</td>
                                        <td>Q2</td>
                                        <td>ENE</td>
                                        <td>FEB</td>
                                        <td>MAR</td>
                                        <td>Q3</td>
                                        <td>ABR</td>
                                        <td>MAY</td>
                                        <td>JUN</td>
                                        <td>Q4</td>
                                        <td>JUL</td>
                                        <td>AGO</td>
                                        <td>SEP</td>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td><input type="number" step="0.01" value="0.00" min="0.00" max="9999999.99" /></td>
                                        <td><input type="checkbox" /></td>
                                        <td><input type="checkbox" /></td>
                                        <td><input type="checkbox" /></td>
                                        <td><input type="number" step="0.01" value="0.00" min="0.00" max="9999999.99" /></td>
                                        <td><input type="checkbox" /></td>
                                        <td><input type="checkbox" /></td>
                                        <td><input type="checkbox" /></td>
                                        <td><input type="number" step="0.01" value="0.00" min="0.00" max="9999999.99" /></td>
                                        <td><input type="checkbox" /></td>
                                        <td><input type="checkbox" /></td>
                                        <td><input type="checkbox" /></td>
                                        <td><input type="number" step="0.01" value="0.00" min="0.00" max="9999999.99" /></td>
                                        <td><input type="checkbox" /></td>
                                        <td><input type="checkbox" /></td>
                                        <td><input type="checkbox" /></td>
                                    </tr>
                                </tbody>

                            </table>

                        </td>
                    </tr>
                    <tr>
                        <td colspan="2"><hr /></td>
                    </tr>

                    <tr>
                        <td></td>
                        <td>METAS TRIMESTRALES</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>
                            <table id="tblactreldip" class="table table-striped display" style="width:100%;">
                                <thead>
                                    <tr>
                                        <th>Codigo Actividad</th>
                                        <th>Actividad</th>
                                        <th>Descripcion</th>
                                        <th>Medio de Verificacion</th>
                                        <th>Linea Base</th>
                                        <th>Meta AF 22</th>
                                    </tr>
                                </thead>

                            </table>
                        </td>
                        <td>
                            <table class="table" style="width:100%;">
                                <thead>
                                    <tr>
                                        <td>Q1</td>
                                        <td>OCT</td>
                                        <td>NOV</td>
                                        <td>DIC</td>
                                        <td>Q2</td>
                                        <td>ENE</td>
                                        <td>FEB</td>
                                        <td>MAR</td>
                                        <td>Q3</td>
                                        <td>ABR</td>
                                        <td>MAY</td>
                                        <td>JUN</td>
                                        <td>Q4</td>
                                        <td>JUL</td>
                                        <td>AGO</td>
                                        <td>SEP</td>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td><input type="number" step="0.01" value="0.00" min="0.00" max="9999999.99" /></td>
                                        <td><input type="checkbox" /></td>
                                        <td><input type="checkbox" /></td>
                                        <td><input type="checkbox" /></td>
                                        <td><input type="number" step="0.01" value="0.00" min="0.00" max="9999999.99" /></td>
                                        <td><input type="checkbox" /></td>
                                        <td><input type="checkbox" /></td>
                                        <td><input type="checkbox" /></td>
                                        <td><input type="number" step="0.01" value="0.00" min="0.00" max="9999999.99" /></td>
                                        <td><input type="checkbox" /></td>
                                        <td><input type="checkbox" /></td>
                                        <td><input type="checkbox" /></td>
                                        <td><input type="number" step="0.01" value="0.00" min="0.00" max="9999999.99" /></td>
                                        <td><input type="checkbox" /></td>
                                        <td><input type="checkbox" /></td>
                                        <td><input type="checkbox" /></td>
                                    </tr>
                                </tbody>

                            </table>

                        </td>
                        <td rowspan="2">
                            <button type="button" class="btn btn-warning" id="btnViewModel" onclick="jQueryModalGetHijo('2','../Planificacion/ProyectoITT/OnInsumos?id=0','Insumos')">
                                <i class="fas fa-pencil-alt"></i>
                                Insumos
                            </button>

                        </td>
                    </tr>

                </table>

      
            <div class="form-group justify-content-between group-button-modal">
                <button class="btn btn-success">Guardar</button>               
                <button class="btn btn-default close-button" data-dismiss="modal">Cerrar</button>
            </div>
        </section>
    </div>
</form>


<script src="~/Pry/Areas/Planificacion/CreateOrEdit.js"></script>


