@model IEnumerable<WordVision.ec.Web.Areas.Planificacion.Models.ProyectoITTViewModel>

    <script src="~/Pry/Areas/Planificacion/ViewAll.js"></script>

<table id="idTable" class="table table-striped" width="100%" cellspacing="0">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            
           
           <th>
                Programa Área
            </th>
             <th>
                Proyecto Tecnico
            </th>
            <th>
                Fecha Fase
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
          
            <td>
                @Html.DisplayFor(modelItem => item.FaseProgramaArea.ProyectoTecnico.ProgramaArea.Descripcion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FaseProgramaArea.ProyectoTecnico.NombreProyecto)
            </td>
            
            <td>
                @Html.DisplayFor(modelItem => item.FaseProgramaArea.FechaInicio)
            </td>
            <td>
                <div class="btn-group">
                    <a onclick="CargarEditarPoppup(@item.Id)" class="dropdown-item"><i class="fas fa-pencil-alt"></i>  Edit</a> 
                    <a class="dropdown-item"><i class="fas fa-download"></i>  Descargar</a> 
                    <a class="dropdown-item"><i class="fas fa-remove"> Eliminar</i></a> 
                </div>
            </td>
        </tr>
}
    </tbody>
</table>
