@inject Microsoft.AspNetCore.Mvc.Localization.IViewLocalizer localizer
@model WordVision.ec.Web.Areas.Maestro.Models.ModeloProyectoEtapaAccionViewModel

<div class="row">
    <div class="col-md-12">
        <form id="create-formmpea" method="post" asp-controller="ModeloProyectoEtapaAccion" asp-action="OnPostModeloProyectoEtapaAccionCreateOrEdit" asp-route-id="@Model.Id" onsubmit="return jQueryModalPost(this);" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input hidden="hidden" asp-for="Id" />
             @Html.TextBoxFor(model => model.codigosao , new { hidden=true } )

            <div class="form-group">
                <label asp-for="IdModeloProyecto" class="control-label">Modelo Proyecto</label>
                @Html.DropDownList("IdModeloProyecto", (IEnumerable<SelectListItem>)Model.ModeloProyectoList, htmlAttributes: new { @class = "form-control", @style = "width:100%;" })
                <span asp-validation-for="IdModeloProyecto" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="IdEtapa" class="control-label">Etapa</label>
                @Html.DropDownList("IdEtapa", (IEnumerable<SelectListItem>)Model.EtapaList, htmlAttributes: new { @class = "form-control", @style = "width:100%;" })
                <span asp-validation-for="IdEtapa" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="IdAccionOperativa" class="control-label">Accion Operativa</label>
                @Html.DropDownList("IdAccionOperativa", (IEnumerable<SelectListItem>)Model.AccionoperativaList, htmlAttributes: new { @class = "form-control", @style = "width:100%;" , @multiple = true, @onchange = "SeleccionList()" })
                <span asp-validation-for="IdAccionOperativa" class="text-danger"></span>


            </div>
            

            @if (Model.Id != 0)
            {
                <div class="form-group">
                    <label asp-for="IdEstado" class="control-label">Estado</label>
                    @Html.DropDownList("IdEstado", (IEnumerable<SelectListItem>)Model.EstadoList, htmlAttributes: new { @class = "form-control", @style = "width:100%;" })
                    <span asp-validation-for="IdEstado" class="text-danger"></span>
                </div>
            }
            <br />
            <div class="form-group justify-content-between group-button-modal">
                <button type="submit" class="btn btn-success" onclick="CargarTimeOutMPEA();">Guardar</button>
                <button type="button" class="btn btn-default close-button" data-dismiss="modal">Cancelar</button>
            </div>
        </form>
    </div>
</div>


<script type="text/javascript" language=javascript>
    $.validator.unobtrusive.parse(document);
    $('#create-formmpea').disableAutoFill();

    $(document).ready(function() {
        $("#IdAccionOperativa").select2({
            placeholder: "Seleccionar",
            //allowClear: true,
        });

    });

    
</script>

