@model IEnumerable<WordVision.ec.Web.Areas.Maestro.Models.ModeloProyectoEtapaAccionViewModel>

<style>

    /*tr.group,
                    tr.group:hover {
                        background-color: #ddd !important;
                    }*/

    /* div.ex3 {
                        width: 105%;
                        height: 100%;
                        overflow: auto !important;
                    }*/
</style>


<table id="ModeloProyectoEtapaAccionTable" class="table table-striped" width="100%" cellspacing="0">
    <thead>
        <tr>
            <th>
                Id
            </th>
            <th>
                Modelo Proyecto
            </th>
            <th>
                Etapa
            </th>
            <th>
                Acciones Operativos
            </th>
            <th>
                Estados
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            var idmpea = "MPEA" + @item.Id.ToString();
            <tr id="@idmpea">
                <td>
                    @Html.DisplayFor(modelItem => item.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ModeloProyecto.Descripcion)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Etapa.Descripcion)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.AccionOperativa.Descripcion)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Estado.Nombre)
                </td>
                <td>
                    <div class="btn-group">
                        @*<button id="idbtnmodeloproyectoetapaaccion" onclick="jQueryModalGet('/Maestro/ModeloProyectoEtapaAccion/OnGetModeloProyectoEtapaAccionCreateOrEdit?id=@item.Id','Editar ModeloProyecto Etapa Accion')" class="btn btn-warning btn-xp mr-1" type="button"><i class="fas fa-pencil-alt"></i></button>*@
                        <button id="idbtndeletemodeloproyectoetapaaccion" type="button" onclick="EliminaFilaMPEA(@item.Id)" class="btn btn-danger btn-xp"><i class="fas fa-trash-alt"></i></button>
                    </div>
                </td>
            </tr>
        }
    </tbody>
</table>


<script>

    $(document).ready(function() {
        var table = $('#ModeloProyectoEtapaAccionTable').DataTable({
            "language": {
                "url": "/lib/datatables/language/Spanish.json"
            },
            responsive: true,
            info: true,
            bSort: true,
            aaSorting: [[ 0, "desc" ]],
           // order: [[0, 'asc']],
            //orderFixed: [[1, 'asc'], [2, 'asc']],
            //rowGroup: { dataSrc: [1, 2] },
            //columnDefs: [{
            //    targets: [1, 2],
            //    visible: false
            //}]
        });
        // Change the fixed ordering when the data source is updated
        //table.on('rowgroup-datasrc',
        //    function(e, dt, val) {
        //        table.order.fixed({
        //            pre: [[val, 'asc']]
        //        }).draw();
        //    });

        //$('a.group-by').on('click', function(e) {
        //    e.preventDefault();
        //    table.rowGroup().dataSrc(
        //        $(this).data('column')
        //    );
        //});
    });


    function EliminaFilaMPEA(id) {

        var GestionViewModel = {
            id: id
        };

        $.ajax({
            type: "delete",
            url: '@Url.Action("OnPostModeloProyectoEtapaAccionDelete", "ModeloProyectoEtapaAccion", new { area = "maestro" })',
            data: GestionViewModel,
            datatype: "json",
            cache: false,
            success: function(data) {
                if (data.isValid)
                    loadModeloProyectoEtapaAccionData();

            },
            error: function(xhr) {

            }
        });
    }
</script>
